# Core
[submodule ".vim/bundle/vim-erlang-compiler"]
    path = .vim/bundle/vim-erlang-compiler
    url = https://github.com/vim-erlang/vim-erlang-compiler.git
[submodule ".vim/bundle/vim-go"]
    path = .vim/bundle/vim-go
    url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/auto-pairs"]
    path = .vim/bundle/auto-pairs
    url = https://github.com/jiangmiao/auto-pairs.git
